USE [master]
GO
/****** Objeto: Database [GimnasioPulgarcito] Fecha de script: 28/6/2026 18:49:06 ******/
CREATE DATABASE [GimnasioPulgarcito]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GimnasioPulgarcito', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GimnasioPulgarcito.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GimnasioPulgarcito_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\GimnasioPulgarcito_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GimnasioPulgarcito].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GimnasioPulgarcito]
GO
/****** Objeto: Table [dbo].[Clases] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clases](
	[IdClase] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[HorariosClases] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HorariosClases](
	[IdHorario] [int] IDENTITY(1,1) NOT NULL,
	[IdClase] [int] NOT NULL,
	[DiaSemana] [tinyint] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHorario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ClasesClientes] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClasesClientes](
	[IdClaseCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdHorario] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[FechaInscripcion] [date] NOT NULL,
	[FechaBaja] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClaseCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Persona] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[IdPersona] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[DNI] [varchar](20) NOT NULL,
	[FechaNacimiento] [date] NULL,
	[Telefono] [varchar](30) NULL,
	[Email] [varchar](150) NULL,
	[Direccion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Clientes] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[IdCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[FechaAlta] [date] NOT NULL,
	[FechaBaja] [date] NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[VW_inscripciones] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VW_inscripciones] AS
SELECT 
    hc.IdHorario,
    cl.Nombre AS Clase,
    CASE hc.DiaSemana
        WHEN 1 THEN 'Lunes'
        WHEN 2 THEN 'Martes'
        WHEN 3 THEN 'Miércoles'
        WHEN 4 THEN 'Jueves'
        WHEN 5 THEN 'Viernes'
        WHEN 6 THEN 'Sábado'
        WHEN 7 THEN 'Domingo'
    END AS DiaSemana,
    CONVERT(VARCHAR(8), hc.HoraInicio, 108) AS 'Hora Inicio',
    p_cli.Nombre + ' ' + p_cli.Apellido AS Cliente,
    p_cli.Telefono AS 'Telefono Alumno',
    cc.FechaInscripcion AS 'Fecha De Alta'
FROM ClasesClientes cc
INNER JOIN Clientes c
    ON cc.IdCliente = c.IdCliente
INNER JOIN Persona p_cli
    ON c.IdPersona = p_cli.IdPersona
INNER JOIN HorariosClases hc
    ON cc.IdHorario = hc.IdHorario
INNER JOIN Clases cl
    ON hc.IdClase = cl.IdClase
WHERE cc.Estado = 1;
GO
/****** Objeto: Table [dbo].[Cargos] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[IdCargo] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Empleados] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[IdPersona] [int] NOT NULL,
	[IdCargo] [int] NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[FechaBaja] [date] NULL,
	[ValorHora] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[vw_Empleados] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Empleados] AS 
SELECT
p.Nombre,
p.Apellido,
c.Nombre AS Cargo,
e.Estado
from Empleados e 
INNER JOIN Persona p ON P.IdPersona=e.IdPersona
INNER JOIN Cargos c ON c.IdCargo=e.IdCargo;
GO
/****** Objeto: Table [dbo].[ClasesProfesores] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClasesProfesores](
	[IdClaseProfesor] [int] IDENTITY(1,1) NOT NULL,
	[IdClase] [int] NOT NULL,
	[IdProfesor] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdClaseProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Profesores] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profesores](
	[IdProfesor] [int] IDENTITY(1,1) NOT NULL,
	[IdEmpleado] [int] NOT NULL,
	[Especialidad] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: View [dbo].[v_GrillaClases] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_GrillaClases] AS
SELECT 
    hc.IdHorario,
    cl.Nombre AS Clase,
    cl.Descripcion AS DescripcionClase,

    CASE hc.DiaSemana
        WHEN 1 THEN 'Lunes'
        WHEN 2 THEN 'Martes'
        WHEN 3 THEN 'Miércoles'
        WHEN 4 THEN 'Jueves'
        WHEN 5 THEN 'Viernes'
        WHEN 6 THEN 'Sábado'
        WHEN 7 THEN 'Domingo'
    END AS [Dia de semana],

    CONVERT(VARCHAR(8), hc.HoraInicio, 108) AS [Horario Inicio],
    CONVERT(VARCHAR(8), hc.HoraFin, 108) AS [Horario Fin],

    p.Nombre + ' ' + p.Apellido AS Profesor

FROM HorariosClases hc
INNER JOIN Clases cl
    ON hc.IdClase = cl.IdClase
INNER JOIN ClasesProfesores cp
    ON cl.IdClase = cp.IdClase
INNER JOIN Profesores prof
    ON cp.IdProfesor = prof.IdProfesor
INNER JOIN Empleados emp
    ON prof.IdEmpleado = emp.IdEmpleado
INNER JOIN Persona p
    ON emp.IdPersona = p.IdPersona
WHERE hc.Estado = 1
    AND cp.Estado = 1;
GO
/****** Objeto: Table [dbo].[Membresias] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membresias](
	[IdMembresia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[DuracionDias] [int] NOT NULL,
	[AccesoClases] [bit] NOT NULL,
	[AccesoPiscina] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMembresia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MembresiasClientes] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembresiasClientes](
	[IdMembresiaCliente] [int] IDENTITY(1,1) NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdMembresia] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[EsRenovacion] [bit] NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMembresiaCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cargos] ON 

INSERT [dbo].[Cargos] ([IdCargo], [Nombre], [Descripcion]) VALUES (1, N'Recepcionista', N'Atención al público, gestión de turnos e inscripciones')
INSERT [dbo].[Cargos] ([IdCargo], [Nombre], [Descripcion]) VALUES (2, N'Instructor', N'Dicta clases grupales y supervisa rutinas')
INSERT [dbo].[Cargos] ([IdCargo], [Nombre], [Descripcion]) VALUES (3, N'Coordinador de Clases', N'Organiza los horarios y asigna profesores')
SET IDENTITY_INSERT [dbo].[Cargos] OFF
GO
SET IDENTITY_INSERT [dbo].[Clases] ON 

INSERT [dbo].[Clases] ([IdClase], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Yoga', N'Clase de yoga para todos los niveles', 1)
INSERT [dbo].[Clases] ([IdClase], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Pilates', N'Ejercicios de suelo y elongación', 1)
INSERT [dbo].[Clases] ([IdClase], [Nombre], [Descripcion], [Estado]) VALUES (3, N'CrossFit', N'Entrenamiento funcional de alta intensidad', 1)
SET IDENTITY_INSERT [dbo].[Clases] OFF
GO
SET IDENTITY_INSERT [dbo].[ClasesClientes] ON 

INSERT [dbo].[ClasesClientes] ([IdClaseCliente], [IdHorario], [IdCliente], [FechaInscripcion], [FechaBaja], [Estado]) VALUES (1, 1, 1, CAST(N'2024-01-11' AS Date), NULL, 1)
INSERT [dbo].[ClasesClientes] ([IdClaseCliente], [IdHorario], [IdCliente], [FechaInscripcion], [FechaBaja], [Estado]) VALUES (2, 3, 1, CAST(N'2024-01-11' AS Date), NULL, 1)
INSERT [dbo].[ClasesClientes] ([IdClaseCliente], [IdHorario], [IdCliente], [FechaInscripcion], [FechaBaja], [Estado]) VALUES (3, 5, 2, CAST(N'2024-02-16' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[ClasesClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[ClasesProfesores] ON 

INSERT [dbo].[ClasesProfesores] ([IdClaseProfesor], [IdClase], [IdProfesor], [Estado]) VALUES (1, 1, 1, 1)
INSERT [dbo].[ClasesProfesores] ([IdClaseProfesor], [IdClase], [IdProfesor], [Estado]) VALUES (2, 2, 1, 1)
INSERT [dbo].[ClasesProfesores] ([IdClaseProfesor], [IdClase], [IdProfesor], [Estado]) VALUES (3, 3, 2, 1)
SET IDENTITY_INSERT [dbo].[ClasesProfesores] OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([IdCliente], [IdPersona], [FechaAlta], [FechaBaja], [Estado]) VALUES (1, 6, CAST(N'2024-01-10' AS Date), NULL, 1)
INSERT [dbo].[Clientes] ([IdCliente], [IdPersona], [FechaAlta], [FechaBaja], [Estado]) VALUES (2, 7, CAST(N'2024-02-15' AS Date), NULL, 1)
INSERT [dbo].[Clientes] ([IdCliente], [IdPersona], [FechaAlta], [FechaBaja], [Estado]) VALUES (3, 8, CAST(N'2024-03-20' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON 

INSERT [dbo].[Empleados] ([IdEmpleado], [IdPersona], [IdCargo], [FechaIngreso], [FechaBaja], [ValorHora], [Estado]) VALUES (1, 1, 1, CAST(N'2022-03-01' AS Date), NULL, CAST(1200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [IdPersona], [IdCargo], [FechaIngreso], [FechaBaja], [ValorHora], [Estado]) VALUES (2, 2, 2, CAST(N'2021-06-15' AS Date), NULL, CAST(1800.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Empleados] ([IdEmpleado], [IdPersona], [IdCargo], [FechaIngreso], [FechaBaja], [ValorHora], [Estado]) VALUES (3, 3, 2, CAST(N'2020-09-01' AS Date), NULL, CAST(2000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
GO
SET IDENTITY_INSERT [dbo].[HorariosClases] ON 

INSERT [dbo].[HorariosClases] ([IdHorario], [IdClase], [DiaSemana], [HoraInicio], [HoraFin], [Estado]) VALUES (1, 1, 1, CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), 1)
INSERT [dbo].[HorariosClases] ([IdHorario], [IdClase], [DiaSemana], [HoraInicio], [HoraFin], [Estado]) VALUES (2, 1, 3, CAST(N'08:00:00' AS Time), CAST(N'09:00:00' AS Time), 1)
INSERT [dbo].[HorariosClases] ([IdHorario], [IdClase], [DiaSemana], [HoraInicio], [HoraFin], [Estado]) VALUES (3, 2, 2, CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[HorariosClases] OFF
GO
SET IDENTITY_INSERT [dbo].[Membresias] ON 

INSERT [dbo].[Membresias] ([IdMembresia], [Nombre], [Descripcion], [Precio], [DuracionDias], [AccesoClases], [AccesoPiscina], [Estado]) VALUES (1, N'Plan Básico', N'Acceso a sala de musculación', CAST(15000.00 AS Decimal(10, 2)), 30, 0, 0, 1)
INSERT [dbo].[Membresias] ([IdMembresia], [Nombre], [Descripcion], [Precio], [DuracionDias], [AccesoClases], [AccesoPiscina], [Estado]) VALUES (2, N'Plan Clases', N'Acceso a sala y clases grupales', CAST(22000.00 AS Decimal(10, 2)), 30, 1, 0, 1)
INSERT [dbo].[Membresias] ([IdMembresia], [Nombre], [Descripcion], [Precio], [DuracionDias], [AccesoClases], [AccesoPiscina], [Estado]) VALUES (3, N'Plan Full', N'Acceso completo incluyendo piscina y clases', CAST(35000.00 AS Decimal(10, 2)), 30, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Membresias] OFF
GO
SET IDENTITY_INSERT [dbo].[MembresiasClientes] ON 

INSERT [dbo].[MembresiasClientes] ([IdMembresiaCliente], [IdCliente], [IdMembresia], [FechaInicio], [FechaFin], [EsRenovacion], [Estado]) VALUES (1, 1, 2, CAST(N'2024-01-10' AS Date), CAST(N'2024-02-09' AS Date), 0, 1)
INSERT [dbo].[MembresiasClientes] ([IdMembresiaCliente], [IdCliente], [IdMembresia], [FechaInicio], [FechaFin], [EsRenovacion], [Estado]) VALUES (2, 1, 2, CAST(N'2024-02-10' AS Date), CAST(N'2024-03-10' AS Date), 1, 1)
INSERT [dbo].[MembresiasClientes] ([IdMembresiaCliente], [IdCliente], [IdMembresia], [FechaInicio], [FechaFin], [EsRenovacion], [Estado]) VALUES (3, 2, 1, CAST(N'2024-02-15' AS Date), CAST(N'2024-03-15' AS Date), 0, 1)
SET IDENTITY_INSERT [dbo].[MembresiasClientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([IdPersona], [Nombre], [Apellido], [DNI], [FechaNacimiento], [Telefono], [Email], [Direccion]) VALUES (1, N'Juan', N'García', N'30111222', CAST(N'1990-03-15' AS Date), N'1144001100', N'juan.garcia@email.com', N'Av. Santa Fe 1234, CABA')
INSERT [dbo].[Persona] ([IdPersona], [Nombre], [Apellido], [DNI], [FechaNacimiento], [Telefono], [Email], [Direccion]) VALUES (2, N'María', N'López', N'32222333', CAST(N'1988-07-22' AS Date), N'1155002200', N'maria.lopez@email.com', N'Corrientes 567, CABA')
INSERT [dbo].[Persona] ([IdPersona], [Nombre], [Apellido], [DNI], [FechaNacimiento], [Telefono], [Email], [Direccion]) VALUES (3, N'Carlos', N'Martínez', N'28333444', CAST(N'1985-11-10' AS Date), N'1166003300', N'carlos.martinez@email.com', N'Rivadavia 890, CABA')
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Profesores] ON 

INSERT [dbo].[Profesores] ([IdProfesor], [IdEmpleado], [Especialidad]) VALUES (1, 2, N'Yoga y Pilates')
INSERT [dbo].[Profesores] ([IdProfesor], [IdEmpleado], [Especialidad]) VALUES (2, 3, N'Musculación y CrossFit')
SET IDENTITY_INSERT [dbo].[Profesores] OFF
GO
/****** Objeto: Index [UQ_InscripcionHorarioCliente] Fecha de script: 28/6/2026 18:49:06 ******/
ALTER TABLE [dbo].[ClasesClientes] ADD  CONSTRAINT [UQ_InscripcionHorarioCliente] UNIQUE NONCLUSTERED 
(
	[IdHorario] ASC,
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ_ClaseProfesor] Fecha de script: 28/6/2026 18:49:06 ******/
ALTER TABLE [dbo].[ClasesProfesores] ADD  CONSTRAINT [UQ_ClaseProfesor] UNIQUE NONCLUSTERED 
(
	[IdClase] ASC,
	[IdProfesor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Clientes__2EC8D2AD4CA29672] Fecha de script: 28/6/2026 18:49:06 ******/
ALTER TABLE [dbo].[Clientes] ADD UNIQUE NONCLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Empleado__2EC8D2AD50A92A17] Fecha de script: 28/6/2026 18:49:06 ******/
ALTER TABLE [dbo].[Empleados] ADD UNIQUE NONCLUSTERED 
(
	[IdPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Persona__A9D10534A42C7410] Fecha de script: 28/6/2026 18:49:06 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Persona__C035B8DDD7F15A1D] Fecha de script: 28/6/2026 18:49:06 ******/
ALTER TABLE [dbo].[Persona] ADD UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objeto: Index [UQ__Profesor__CE6D8B9F130DD67C] Fecha de script: 28/6/2026 18:49:06 ******/
ALTER TABLE [dbo].[Profesores] ADD UNIQUE NONCLUSTERED 
(
	[IdEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clases] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[ClasesClientes] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[ClasesClientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[ClasesProfesores] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((0)) FOR [ValorHora]
GO
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[HorariosClases] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Membresias] ADD  DEFAULT ((0)) FOR [Precio]
GO
ALTER TABLE [dbo].[Membresias] ADD  DEFAULT ((0)) FOR [AccesoClases]
GO
ALTER TABLE [dbo].[Membresias] ADD  DEFAULT ((0)) FOR [AccesoPiscina]
GO
ALTER TABLE [dbo].[Membresias] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MembresiasClientes] ADD  DEFAULT ((0)) FOR [EsRenovacion]
GO
ALTER TABLE [dbo].[MembresiasClientes] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[ClasesClientes]  WITH CHECK ADD  CONSTRAINT [FK_ClasesClientes_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[ClasesClientes] CHECK CONSTRAINT [FK_ClasesClientes_Cliente]
GO
ALTER TABLE [dbo].[ClasesClientes]  WITH CHECK ADD  CONSTRAINT [FK_ClasesClientes_Horario] FOREIGN KEY([IdHorario])
REFERENCES [dbo].[HorariosClases] ([IdHorario])
GO
ALTER TABLE [dbo].[ClasesClientes] CHECK CONSTRAINT [FK_ClasesClientes_Horario]
GO
ALTER TABLE [dbo].[ClasesProfesores]  WITH CHECK ADD  CONSTRAINT [FK_ClasesProf_Clase] FOREIGN KEY([IdClase])
REFERENCES [dbo].[Clases] ([IdClase])
GO
ALTER TABLE [dbo].[ClasesProfesores] CHECK CONSTRAINT [FK_ClasesProf_Clase]
GO
ALTER TABLE [dbo].[ClasesProfesores]  WITH CHECK ADD  CONSTRAINT [FK_ClasesProf_Profesor] FOREIGN KEY([IdProfesor])
REFERENCES [dbo].[Profesores] ([IdProfesor])
GO
ALTER TABLE [dbo].[ClasesProfesores] CHECK CONSTRAINT [FK_ClasesProf_Profesor]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Persona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Persona]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Cargos] FOREIGN KEY([IdCargo])
REFERENCES [dbo].[Cargos] ([IdCargo])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Cargos]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Persona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([IdPersona])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Persona]
GO
ALTER TABLE [dbo].[HorariosClases]  WITH CHECK ADD  CONSTRAINT [FK_Horarios_Clase] FOREIGN KEY([IdClase])
REFERENCES [dbo].[Clases] ([IdClase])
GO
ALTER TABLE [dbo].[HorariosClases] CHECK CONSTRAINT [FK_Horarios_Clase]
GO
ALTER TABLE [dbo].[MembresiasClientes]  WITH CHECK ADD  CONSTRAINT [FK_MemClientes_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Clientes] ([IdCliente])
GO
ALTER TABLE [dbo].[MembresiasClientes] CHECK CONSTRAINT [FK_MemClientes_Cliente]
GO
ALTER TABLE [dbo].[MembresiasClientes]  WITH CHECK ADD  CONSTRAINT [FK_MemClientes_Membresia] FOREIGN KEY([IdMembresia])
REFERENCES [dbo].[Membresias] ([IdMembresia])
GO
ALTER TABLE [dbo].[MembresiasClientes] CHECK CONSTRAINT [FK_MemClientes_Membresia]
GO
ALTER TABLE [dbo].[Profesores]  WITH CHECK ADD  CONSTRAINT [FK_Profesores_Empleados] FOREIGN KEY([IdEmpleado])
REFERENCES [dbo].[Empleados] ([IdEmpleado])
GO
ALTER TABLE [dbo].[Profesores] CHECK CONSTRAINT [FK_Profesores_Empleados]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [CHK_Clientes_Baja] CHECK  (([Estado]=(1) AND [FechaBaja] IS NULL OR [Estado]=(0) AND [FechaBaja] IS NOT NULL))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [CHK_Clientes_Baja]
GO
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [CHK_Empleados_Baja] CHECK  (([Estado]=(1) AND [FechaBaja] IS NULL OR [Estado]=(0) AND [FechaBaja] IS NOT NULL))
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [CHK_Empleados_Baja]
GO
ALTER TABLE [dbo].[HorariosClases]  WITH CHECK ADD  CONSTRAINT [CHK_Horario_Horas] CHECK  (([HoraFin]>[HoraInicio]))
GO
ALTER TABLE [dbo].[HorariosClases] CHECK CONSTRAINT [CHK_Horario_Horas]
GO
ALTER TABLE [dbo].[HorariosClases]  WITH CHECK ADD  CONSTRAINT [CHK_Horarios_Dia] CHECK  (([DiaSemana]>=(1) AND [DiaSemana]<=(7)))
GO
ALTER TABLE [dbo].[HorariosClases] CHECK CONSTRAINT [CHK_Horarios_Dia]
GO
ALTER TABLE [dbo].[Membresias]  WITH CHECK ADD  CONSTRAINT [CHK_Membresia_Duracion] CHECK  (([DuracionDias]>(0)))
GO
ALTER TABLE [dbo].[Membresias] CHECK CONSTRAINT [CHK_Membresia_Duracion]
GO
ALTER TABLE [dbo].[Membresias]  WITH CHECK ADD  CONSTRAINT [CHK_Membresia_Precio] CHECK  (([Precio]>(0)))
GO
ALTER TABLE [dbo].[Membresias] CHECK CONSTRAINT [CHK_Membresia_Precio]
GO
ALTER TABLE [dbo].[MembresiasClientes]  WITH CHECK ADD  CONSTRAINT [CHK_MemCliente_Fechas] CHECK  (([FechaFin]>=[FechaInicio]))
GO
ALTER TABLE [dbo].[MembresiasClientes] CHECK CONSTRAINT [CHK_MemCliente_Fechas]
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaCliente] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AltaCliente]
  @IdPersona      int,
  @IdClienteNuevo int OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  
  IF NOT EXISTS (SELECT 1 FROM Persona WHERE IdPersona = @IdPersona)
  BEGIN
    RAISERROR('No existe una persona con ese IdPersona.', 16, 1);
    RETURN;
  END

  IF EXISTS (SELECT 1 FROM Clientes WHERE IdPersona = @IdPersona)
  BEGIN
    RAISERROR('Esa persona ya está registrada como cliente.', 16, 1);
    RETURN;
  END

  BEGIN TRANSACTION;

  BEGIN TRY

    INSERT INTO Clientes (IdPersona, FechaAlta, Estado)
    VALUES (@IdPersona, GETDATE(), 1);

    SET @IdClienteNuevo = SCOPE_IDENTITY();

    COMMIT TRANSACTION;

  END TRY
  BEGIN CATCH
    ROLLBACK TRANSACTION;
    DECLARE @Mensaje varchar(500) = 'Error al registrar el cliente: ' + ERROR_MESSAGE();
    RAISERROR(@Mensaje, 16, 1);
    RETURN;
  END CATCH

END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaEmpleado] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaEmpleado]
  @IdPersona        int,
  @IdCargo          int,
  @FechaIngreso     date,
  @ValorHora        decimal(10,2),
  -- Datos opcionales si también es Profesor
  @EsProfesor       bit          = 0,
  @Especialidad     varchar(255) = NULL,
  -- Output
  @IdEmpleadoNuevo  int OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

    IF NOT EXISTS (SELECT 1 FROM Persona WHERE IdPersona = @IdPersona)
  BEGIN
    RAISERROR('No existe una persona con ese IdPersona.', 16, 1);
    RETURN;
  END

  IF EXISTS (SELECT 1 FROM Empleados WHERE IdPersona = @IdPersona)
  BEGIN
    RAISERROR('Esa persona ya está registrada como empleado.', 16, 1);
    RETURN;
  END

  IF NOT EXISTS (SELECT 1 FROM Cargos WHERE IdCargo = @IdCargo)
  BEGIN
    RAISERROR('El cargo indicado no existe.', 16, 1);
    RETURN;
  END

  IF @ValorHora <= 0
  BEGIN
    RAISERROR('El valor hora debe ser mayor a cero.', 16, 1);
    RETURN;
  END

  IF @FechaIngreso IS NULL
  BEGIN
    RAISERROR('La fecha de ingreso es obligatoria.', 16, 1);
    RETURN;
  END
 
  IF @EsProfesor = 1 AND NOT EXISTS (
    SELECT 1 FROM Cargos WHERE IdCargo = @IdCargo AND Nombre = 'Instructor'
  )
  BEGIN
    RAISERROR('Para registrar como profesor, el cargo debe ser Instructor.', 16, 1);
    RETURN;
  END
    
  BEGIN TRANSACTION;

  BEGIN TRY

    -- 1. Insertar Empleado
    INSERT INTO Empleados (IdPersona, IdCargo, FechaIngreso, ValorHora, Estado)
    VALUES (@IdPersona, @IdCargo, @FechaIngreso, @ValorHora, 1);

    SET @IdEmpleadoNuevo = SCOPE_IDENTITY();

    -- 2. Si es profesor, insertar en Profesores
    IF @EsProfesor = 1
    BEGIN
      INSERT INTO Profesores (IdEmpleado, Especialidad)
      VALUES (@IdEmpleadoNuevo, @Especialidad);
    END

    COMMIT TRANSACTION;

  END TRY
  BEGIN CATCH
    ROLLBACK TRANSACTION;
    DECLARE @Mensaje varchar(500) = 'Error al registrar el empleado: ' + ERROR_MESSAGE();
    RAISERROR(@Mensaje, 16, 1);
    RETURN;
  END CATCH

END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_AltaPersona] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_AltaPersona]
  @Nombre          varchar(100),
  @Apellido        varchar(100),
  @DNI             varchar(20),
  @FechaNacimiento date         = NULL,
  @Telefono        varchar(30)  = NULL,
  @Email           varchar(150) = NULL,
  @Direccion       varchar(255) = NULL,
  @IdPersonaNueva  int OUTPUT
AS
BEGIN
  
-- Valida que no sea null. 
  IF (ISNULL(@Nombre, '')) = ''
  BEGIN
    RAISERROR('El Nombre es obligatorio.', 16, 1);
    RETURN;
  END
-- Valida que no sea null.
  IF (ISNULL(@Apellido, '')) = ''
  BEGIN
    RAISERROR('El Apellido es obligatorio.', 16, 1);
    RETURN;
  END
-- Valida que no sea null.
  IF (ISNULL(@DNI, '')) = ''
  BEGIN
    RAISERROR('El DNI es obligatorio.', 16, 1);
    RETURN;
  END

  IF EXISTS (SELECT 1 FROM Persona WHERE DNI = @DNI)
  BEGIN
    RAISERROR('Ya existe una persona registrada con ese DNI.', 16, 1);
    RETURN;
  END

  IF @Email IS NOT NULL AND EXISTS (SELECT 1 FROM Persona WHERE Email = @Email)
  BEGIN
    RAISERROR('Ya existe una persona registrada con ese Email.', 16, 1);
    RETURN;
  END

  
  BEGIN TRANSACTION;

  BEGIN TRY

    INSERT INTO Persona (Nombre, Apellido, DNI, FechaNacimiento, Telefono, Email, Direccion)
    VALUES (@Nombre, @Apellido, @DNI, @FechaNacimiento, @Telefono, @Email, @Direccion);

    SET @IdPersonaNueva = SCOPE_IDENTITY();

    COMMIT TRANSACTION;

  END TRY
  BEGIN CATCH
    ROLLBACK TRANSACTION;
    DECLARE @Mensaje varchar(500) = 'Error al registrar la persona: ' + ERROR_MESSAGE();
    RAISERROR(@Mensaje, 16, 1);
    RETURN;
  END CATCH

END;
GO
/****** Objeto: Trigger [dbo].[tr_Agregar_ClaseCliente] Fecha de script: 28/6/2026 18:49:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Agregar_ClaseCliente] ON [dbo].[ClasesClientes]
AFTER INSERT
AS
BEGIN
    DECLARE @IdCliente int
    DECLARE @Estado bit

    SELECT @IdCliente = IdCliente FROM inserted

    SELECT @Estado = Estado FROM Clientes WHERE IdCliente = @IdCliente

    IF @Estado = 0
    BEGIN
        RAISERROR('El cliente no está activo.', 16, 1)
        ROLLBACK TRANSACTION
        RETURN;
    END
END;
GO
ALTER TABLE [dbo].[ClasesClientes] ENABLE TRIGGER [tr_Agregar_ClaseCliente]
GO
/****** Objeto: Trigger [dbo].[tr_Agregar_ClaseProfesor] Fecha de script: 28/6/2026 18:49:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Agregar_ClaseProfesor] ON [dbo].[ClasesProfesores]
AFTER INSERT
AS
BEGIN
    DECLARE @IdProfesor int
    DECLARE @IdEmpleado int
    DECLARE @Estado bit

    SELECT @IdProfesor = IdProfesor FROM inserted

    SELECT @IdEmpleado = IdEmpleado FROM Profesores WHERE IdProfesor = @IdProfesor

    SELECT @Estado = Estado FROM Empleados WHERE IdEmpleado = @IdEmpleado

    IF @Estado = 0
    BEGIN
        RAISERROR('El profesor no está activo.', 16, 1)
        ROLLBACK TRANSACTION
        RETURN;
    END
END;
GO
ALTER TABLE [dbo].[ClasesProfesores] ENABLE TRIGGER [tr_Agregar_ClaseProfesor]
GO
/****** Objeto: Trigger [dbo].[tr_Agregar_MembresiaCliente] Fecha de script: 28/6/2026 18:49:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[tr_Agregar_MembresiaCliente] ON [dbo].[MembresiasClientes]
AFTER INSERT
AS
BEGIN
    DECLARE @IdCliente int
    DECLARE @FechaInicio date
    DECLARE @FechaAlta date

    SELECT @IdCliente = IdCliente FROM inserted
    SELECT @FechaInicio = FechaInicio FROM inserted

    SELECT @FechaAlta = FechaAlta FROM Clientes WHERE IdCliente = @IdCliente

    IF @FechaInicio < @FechaAlta
    BEGIN
        RAISERROR('La membresía no puede iniciar antes del alta del cliente.', 16, 1)
        ROLLBACK TRANSACTION
        RETURN;
    END
END;
GO
ALTER TABLE [dbo].[MembresiasClientes] ENABLE TRIGGER [tr_Agregar_MembresiaCliente]
GO
USE [master]
GO
